.character__details {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    color: white;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding: 0 10px;
}

.character__name-block {
    display: flex;
    gap: 16px;
}

.button--back {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    letter-spacing: 0.1em;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
}

.button--back::before {
    content: '\2190';
    margin-right: 8px;
}

.character-block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.character__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

.character__image {
    width: 200px;
    height: 200px;
    border-radius: 1px;
    margin-bottom: 20px;
}

.character__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
}

.character__info h1 {
    margin: 0;
    font-size: 28px;
}

.character__info p {
    font-size: 16px;
    margin: 5px 0;
    position: relative;
}

.character__info p::before {
    font-size: 16px;
    display: inline-block;
    width: 20px;
    text-align: center;
    margin-right: 10px;
}

.character__info p:nth-child(2)::before {
    content: '\26A5';
}

.character__info p:nth-child(3)::before {
    content: '\1F9EC';
    font-family: Arial, sans-serif;
    filter: grayscale(100%);
}

.character__info p:nth-child(4)::before {
    content: '\1F310';
    font-family: Arial, sans-serif;
    filter: grayscale(100%);
}

.character__info p:nth-child(5)::before {
    content: '\1F4CC';
    font-family: Arial, sans-serif;
    filter: grayscale(100%);
}

.episodes__section {
    margin-top: 20px;
    width: 100%;
}

.episodes__section h2 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    text-transform: uppercase;
}

.episodes__section h2 span {
    background-color: #0D8CD2;
    padding: 4px 8px;
    border-radius: 8px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
}

.episodes__list {
    list-style: none;
    padding: 0;
    font-size: 1em;
    line-height: 1.5em;
}

@media (min-width: 768px) {
    .character__details {
        flex-direction: row;
        gap: 40px;
    }

    .character__header {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }

    .character__image {
        margin-right: 20px;
        margin-bottom: 0;
        width: 250px;
        height: 250px;
    }

    .character__info {
        align-items: flex-start;
    }

    .episodes__section {
        margin-top: 0;
    }
}
