th,
td {
    padding: 12px 15px;
    text-align: left;
}

th {
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #424345;
}

.table__row {
    border-bottom: 1px solid #424345;
    border-radius: 7px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.table__row:hover {
    background-color: #000000;
    transform: scale(1.01);
}

.table__row td {
    vertical-align: middle;
    font-size: 14px;
    line-height: 19px;
}

.table__row td a {
    text-decoration: underline;
}

.status__indicator {
    position: relative;
    display: inline-block;
    background: none;
    font-size: 14px;
    font-weight: bold;
    border-radius: 4px;
    color: #000000CC;
    padding: 8px 12px 8px 30px;
    line-height: 20px;
}

.status__indicator::before {
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    color: #000000CC;
    font-size: 16px;
    line-height: 0;
}

.status__indicator--alive {
    background-color: #67EF7B;
}

.status__indicator--alive::before {
    content: "\2713";
}

.status__indicator--dead {
    background-color: #FB6F6D;
}

.status__indicator--dead::before {
    content: "\2717";
}

.status__indicator--unknown {
    background-color: #424345;
}

.status__indicator--unknown::before {
    content: "\003F";
}

.link--detail a {
    color: #59ABE6;
    text-decoration: none;
}

.link--detail a:hover {
    text-decoration: underline;
}

.avatar__image {
    width: 40px;
    vertical-align: middle;
    margin-right: 10px;
}

.table__name-cell {
    display: flex;
    align-items: center;
}
